// @mixin coverimage($location,$height){

// 

@mixin coverimage($location) {
    // background-image: url($location);
    background-image: linear-gradient(to top, rgba(0,45,75,0.5),rgba(0,0,0,0.9)),url($location);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
